@charset "utf-8";
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat","Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  font-size: 15px;
  color: #333;
  background: #FFF;
  margin: 0 auto;
  padding: 0;
}

header {
  margin: 0 auto;
  padding: 0;
  background: #FFF;
}

footer {
  margin: 0 auto;
  padding: 0;
  color: #FFF;
  background: #4F473C;
  font-size: 95%;
  font-weight: 200;
  width: 100%;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer a:hover {
  color: #F8DB83;
}

footer ul {
  list-style: none;
}

footer .copyright {
  display: block;
  text-align: right!important;
  padding: 10px;
  margin: 0 auto;
  color: #888;
}

h1 {
  font-size: 200%;
  color: #000;
  font-weight: bold;
  text-align: center;
}

h1 span {
  background: linear-gradient(transparent 60%, #F8DB83 60%);
}

.container {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  margin: 0 auto;
  padding: 0;
}

.main {
  display: block;
  width: 65%;
  font-size: 120%;
  background: #F7F1E2;
  padding: 10px;
  margin: 0 auto;
}

.sidebar {
  width: 35%;
  background: #f6f6f6;
  margin: 0 auto;
  padding: 14px;
}

.sidebar__item {
  position: -webkit-sticky;
  position: sticky;
  margin-bottom: 0;
  padding: 10px;
  top: 10px;
  z-index: 1;
  margin: 20px 10px 20px 10px;
  padding: 0;
}

.sidebar__item__menu {
  padding: 20px;
  background: #FFF;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 8px #dcdcdc;
}

.sidebar__header {
  color: #E8332F;
  font-weight: bold;
}

.sidebar__item__menu ol {
  list-style: none;
  padding-left: 0;
  display: table;
}

.sidebar__item__menu ol li:after {
  content: "";
  display: block;
  margin-bottom: 0.5em;
}

.sidebar__item__menu ol li > a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  font-size: 120%;
}

.sidebar__sp {
  display: none;
}

.chat__left,
.chat__right {
  width: 100%;
  margin: 20px 0;
  display:flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 10px;
}

.chat__right {
  justify-content:flex-end;
  margin-right: 20px;
}

.face__icon img {
  width: 60px;
  height: 60px;
  border: solid 2px #333;
  border-radius: 50%;
  height: auto;
}

.chat__right .face__icon {
  margin-left: 25px;
  order:2 !important;
}

.chat__left .face__icon {
  margin-right:25px;
}

.bubble {
  margin: 0;
  padding: 0;
}

.bubble__left {
  max-width: 90%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 17px 13px 15px 18px;
  border-radius: 12px;
  background: #FFF;
  box-sizing:border-box;
  margin:0 !important;
  line-height:1.5;
}

.bubble__left p {
  margin:8px 0 0 !important;
}

.bubble__left p:first-child {
  margin-top:0 !important;
}

.bubble__caption {
  font-size: 70%;
  color: #666;
  margin: 4px 20px;
}

.bubble__left:after {
  content: "";
  position: absolute;
  border: 10px solid transparent;
}

.chat__left .bubble__left:after {
  left: -26px;
  border-right: 22px solid #FFF;
}

.bubble__right {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 17px 13px 15px 18px;
  border-radius: 12px;
  color: #FFF;
  background: #E8332F;
  box-sizing:border-box;
  margin:0 !important;
  line-height:1.5;
}

.bubble__right p {
  margin:8px 0 0 !important;
}

.bubble__right p:first-child {
  margin-top:0 !important;
}

.bubble__right:after {
  content: "";
  position: absolute;
  border: 10px solid transparent;
}

.chat__right .bubble__right:after {
  right: -26px;
  border-left: 22px solid #E8332F;
}

.chat__image img {
  display: block;
  margin:auto;
  max-width: 80%;
  background-color: #FFF;
  padding: 10px;
  border-radius: 12px;
}

.link__box {
  background: #F8DB83;
  border: none;
  padding:10px;
  display: flex;
  margin: 20px 0 20px 0;
  border-radius: 12px;
}

.link__box:hover {
  background-color:#F7F1E2;
  -webkit-transition:background-color .35s;
  transition:background-color .35s
}

.link__box__wrap {
  width:  100%;
  margin: 20px 0 0 0;
}

.img__box {
  width: 32%;
  float: left;
}

.img__box img {
  border-radius: 12px;
  height: 15vw !important;
}

.text__box {
  width: 68%;
  float: left;
  padding: 5px 10px 10px 20px;
  margin: 0;
}

.text__box .title {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

.text__box .description {
  font-size: 80%;
  color: #000;
  text-decoration: none;
  overflow-wrap: break-word;
  word-break: break-all;
}

/** PCのみ **/
@media all and (min-width: 769px) {
  body
  header {
    position: relative;
    height: 50vw !important;
    background: url(../img/pc_header_bg.png) center / cover;
  }

  .footer__wrap {
    margin: 0 auto;
    padding: 0;
    display:flex;
    width: 100%;
  }

  footer .footer__list {
    display: inline-block;
    vertical-align: top;
    height: 12vh;
    width: 20%;
  }

  footer .footer__list li {
    padding-bottom: 6px;
  }

  footer .footer__list__logo {
    margin-left: auto;
    margin-top: auto;
    padding-right: 10px;
  }

  .sidebar__item__menu ol li {
    display: table-row;
    counter-increment: table-ol;
    margin-bottom: 0.5em;
    background: url(../img/rice_icon_pc_normal.svg) no-repeat 0 0;
    background-size: auto 30px;
  }

  .sidebar__item__menu ol li:before {
    content: counter(table-ol);
    font-weight: bold;
    font-size: 120%;
    display: table-cell;
    padding-top: 0.2em;
    padding-right: 0.4em;
    padding-left: 0.3em;
  }
}

/** スマホ・タブレット **/
@media all and (max-width: 768px) {

  header {
    position: relative;
    height: 120vw !important;
    background: url(../img/sp_header_bg.png) center / cover;
  }

  footer {
    text-align: center!important;
    padding-top: 30px;
  }

  footer .footer__item {
    margin: 0 auto;
    padding: 0;
    line-height: 40px;
  }

  footer .footer_logo_list {
    margin-left:auto;
    margin-right:0px;
  }

  footer .footer_logo_item {
    margin-top: 30px;
  }

  footer .copyright {
    display: block;
    text-align: center!important;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    color: #888;
  }

  .main {
    display: block;
    width: 96%;
    font-size: 120%;
    background: #F7F1E2;
    padding: 10px;
    margin: 0 auto;
  }

  .sidebar {
    width: 0%;
    display:none;
  }

  .sidebar__sp {
    display: block;
  }

  .sidebar__item__menu ol li {
    display: table-row;
    counter-increment: table-ol;
    margin-bottom: 0.5em;
    background: url(../img/rice_icon_pc_normal.svg) no-repeat 0 0;
    background-size: auto 34px;
  }

  .sidebar__item__menu ol li:before {
    content: counter(table-ol);
    font-weight: bold;
    font-size: 100%;
    display: table-cell;
    padding-right: 0.4em;
    padding-left: 0.35em;
  }

  h1 {
    font-size: 160%;
  }

  .text__box {
    width:70%;
    padding: 0px 5px 0px 10px;
    margin: 0;
  }


}